
{% extends 'baseAdm.html' %}

{% block title %}教师信息管理{% endblock %}

{% block style %}
<link href="/static/css/xmStyle.css" rel="stylesheet" type="text/css">

<style type="text/css">
.table>thead>tr>th{
	background-color: rgb(166, 197, 255);
}
.input_info{
	display: block;
	width: 100%;
	outline: none;
	border: none;
}
.table>tbody>tr>td{
	height: 34px;
}
.btn_delete{
	background-color: rgb(138, 167, 231);
	margin: 1px;
	width: 100%;
	padding: 0px;
}

a.delete{
    cursor: pointer;
}

.search-target{
	margin-bottom: 10px;
    width: 30%;
    float: left;
}

.pagination-option{
	float:right;
}

.pagination-pag li {
	list-style-type:none;
    float: left;
    margin-left: 10px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}
</style>
{% endblock %}

{% block content %}

	<div class="fly-panel">
		<div class="schedule">
			<h4>教师信息管理</h4>
			<div class="divider-line"></div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5 class="panel-title">添加教师</h5>
				</div>
				<div class="panel-body">
					<form action="/addTeacher/" method="POST">
						<table class="table table-bordered">
						<thead>
							<tr>
							<th width="200px">ID</th>
							<th width="200px">姓名</th>
							<th>学院</th>
							</tr>
						</thead>
						<tbody>
							<tr>
							<td><input type="number" class="input_info" name="teaID" placeholder="请输入ID"></td>
							<td><input type="text" class="input_info" name="teaName" placeholder="请输入姓名"></td>
							<td><input type="text" class="input_info" name="teaCollege" placeholder="请输入学院"></td>
							</tr>
						</tbody>
						</table>
						<input type="submit" class="btn btn-blue">
					</form>
					
				</div>
			</div>
			<div class="divider-line"></div>
			<div class="panel panel-default">
					<div class="panel-heading">
						<h5 class="panel-title">教师信息</h5>
					</div>
					<div class="panel-body search-test-inner">

						<input type="text" class="form-control search-target" placeholder="搜索">

						<div class="pagination-option">
                            <ul class="pagination-pag">
                                <li><span v-text = "presentPage+' of '+AmountPages"></span></li>
                                <li>
                                    <a class="btn btn-default btn-sm" v-on:click="clickPageLeft"><i class="glyphicon glyphicon-chevron-left  pag-left"></i></a>
                                </li>
                                <li>
                                    <a class="btn btn-default btn-sm" v-on:click="clickPageRight"><i class="glyphicon glyphicon-chevron-right pag-right"></i></a>
                                </li>
                            </ul>
                        </div>

						<table class="table table-bordered">
						<thead>
							<tr>
							<th width="200px">ID</th>
							<th width="200px">姓名</th>
							<th>学院</th>
							<th width="50px">删除</th>
							</tr>
						</thead>
						<tbody class="search-item-list">
							{% for teacher in teacherList %}
							<tr class="list-item search-item-id" id='ListItem_{{ teacher.contract.id }}' date-page="1">
								<input type="hidden" class="forSearch search-value" name="forSearch">
								<td>{{ teacher.contract.username }}</td>
								<td>{{ teacher.realname }}</td>
								<td>{{ teacher.college }}</td>
								<td style="text-align: center;"><a href="/delete/deleteTea?teaID={{ teacher.contract.username }}" class="delete">删除</a></td>
							</tr>
							{% endfor %}
						</tbody>
						</table>
					</div>
				</div>
		</div>
	</div>           
{% endblock %}

{% block js %}

<script type="text/javascript">
	var vm_pagination = new Vue({
		el: '.search-test-inner',
		data: {
			AmountofItem: 0,//总共的条目数
			AmountifItemPrepage: 5,//列表每页的条目数
			presentPage: 1
    	},
    	computed:{
    		AmountPages:function(){
    			return Math.ceil(this.AmountofItem/this.AmountifItemPrepage);
    		}
    	},
    	methods:{
    		initial:function(){

				{% for teacher in teacherList %}

				this.AmountofItem++;

				$("#ListItem_{{ teacher.contract.id }}").attr("date-page",Math.ceil(this.AmountofItem/this.AmountifItemPrepage).toString());
				

				{% endfor %}

    			$('.search-item-list > [date-page!='+this.presentPage+']').hide();
    		},

    		clickPageLeft:function(){
				if(this.presentPage>1){
					this.presentPage--;
				}
				$('.search-item-list > [date-page!='+this.presentPage+']').hide();
				$('.search-item-list > [date-page='+this.presentPage+']').show();
    		},

    		clickPageRight:function(){
				 if(this.presentPage<Math.ceil(this.AmountofItem/this.AmountifItemPrepage)){
					this.presentPage++;
				 }
				$('.search-item-list > [date-page!='+this.presentPage+']').hide();
				$('.search-item-list > [date-page='+this.presentPage+']').show();
    		}


    	}
	});

	vm_pagination.initial();
</script>

<script src="/static/js/jQuery.Hz2Py-min.js"></script>
<script src="/static/js/jsSearch.js"></script>

<script type="text/javascript">
	//整合一个项目中所有搜索的信息

	var searchDomArray = $(".search-value").parent();

	var searchInputArray = $(".search-value");

	for(var i=0;i<this.searchDomArray.length;i++){

		var singleValueDomArray = $(searchDomArray[i]).find('td');

		var allSearchValue = '';

		for(var j=0;j<this.singleValueDomArray.length;j++){
			allSearchValue += $(singleValueDomArray[j]).text();
		}

		$(searchInputArray[i]).val(allSearchValue);
	}

	
	//前端JS实现搜索
	$(function(){
		new SEARCH_ENGINE("search-test-inner","search-target","search-item-list","search-value","search-item-id");
	});
</script>

{% endblock %}