
{% extends 'baseTea.html' %}

{% block title %}项目征集{% endblock %}

{% block style %}
<link href="/static/css/xmStyle.css" rel="stylesheet" type="text/css">
<style type="text/css">
.th{
    width: 20%;
}
.panel-primary{
    background-color: rgb(186, 187, 190);
    border-color: rgb(196, 196, 230);
}

</style>
{% endblock %}


{% block content %}
<div class="fly-panel">
    <div class="schedule">
        <h4>项目征集</h4>
        <div class="divider-line"></div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <p>SRTP征集公告</p>
                    </h5>
                </div>
                <div class="panel-body">
                    <p>{{ srtp_collect.content }}</p>
					<ul>
                        <li><a href="/{{ srtp_collect.Issue_file }} ">{{ file_name }}</a></li>
					</ul>
                </div>
            </div>
        <div class="divider-line"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <p>提交征集表</p>
                </h5>
            </div>
            <div class="panel-body">
                <h5>>>查看提交内容</h5>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th class="th">标题</th>
                            <td class="td">{{ srtp_collect.title }}</td>
                        <tr>
                            <th class="th">截止时间</th>
                            <td class="td">{{ srtp_collect.deadline|date:"Y-m-d" }}</td>
                        </tr>
                    </tbody>
              	</table>
              	<h5>>>提交文件</h5>
              	<div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <p>提交你的文件</p>
                        </h3>
                    </div>
                    <div class="panel-body">
						<form id="srtp-info-submit" action="/srtp/submitCollectSrtp/" method="POST" enctype=multipart/form-data>
							<label for="title">标题：</label>
							<input id="title" name="title" type="text" class="form-control" placeholder="请输入题目名字">
							<label for="amountPeople">人数：</label>
							<input id="amountPeople" name="amountPeople" type="number" class="form-control"  placeholder="人数">
							<label for="teacher">指导教师：</label>
							<input id="teacher" name="teacher" type="text" class="form-control"  placeholder="请输入名字">
							<label for="intro">简介：</label>
							<textarea id="intro" name="intro" class="form-control" rows="3" style="resize:none;"></textarea>
							<label for="file">上传文件：</label>
							<input id="file" type="file" name="fileUpload"/>
							<br>
							<a id="submit1" class="btn btn-blue" title="提交SRTP项目">提交</a>
						</form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}
<script type="text/javascript">
    //使用button进行表单的提交
    $("#submit1").click(function(){
        var deadline = "{{ srtp_collect.deadline|date:'Y-m-d' }}";
        var deadline_time = new Date(deadline.replace("-","/"));

        var present_date = new Date();

        if(present_date<deadline_time){
            swal({
                icon:"info",
                text:"您确定要提交以上项目吗？",
                buttons: ["取消", "确定"],
            }).then(function(isConfirm) {
                if(isConfirm === true){
                    var form = document.getElementById("srtp-info-submit");
                    //提交form表单
                    form.submit();
                }
            });
        }
        else{
            swal({
                icon: "error",
                text: "抱歉，已过截止时间"
            });
        }

        
    });

	
</script>
{% endblock %}