<!-- 
说明：
该页面为供教师查看的项目详情页面
在项目列表页中点击某个具体项目会进入这个页面

在本页面中：
	1）点击“经费使用记录”中的“更新”按钮，可以更新该项目的经费使用情况
	2）点击“项目成果”中的“更新”按钮，可以更新该项目的当前成果
	3）点击“项目进度”中的“中期检查”或“结题验收”按钮，可以跳转到“进度更新页”提交已发布的进度任务验收。

说明编辑人：段旭
-->
{% extends 'baseTea.html' %}

{% block title %}项目详情{% endblock %}

{% block style %}
<link href="/static/css/xmStyle.css" rel="stylesheet" type="text/css">
<style type="text/css">
.th{
    width: 20%;
}
.panel-primary{
    background-color: rgb(186, 187, 190);
    border-color: rgb(196, 196, 230);
}
.funds-record{
	position: relative;
}

.funds-record p{
	margin: 0;
}

.funds-record #updateFunds{
	position: absolute;
	cursor: pointer;
	right: 8px;
	top: 8px;
}

.funds-record textarea{
	resize: none;
}

.funds-record .input-funds{
	display: none;
}

.achievements-record{
	position: relative;
}

.achievements-record p{
	margin: 0;
}

.achievements-record #updateAchievements{
	position: absolute;
	cursor: pointer;
	right: 8px;
	top: 8px;
}

.achievements-record textarea{
	resize: none;
}

.achievements-record .input-achievements{
	display: none;
}

.process-record{
	position: relative;
}

.process-record #updateProcess-mid{
	position: absolute;
	cursor: pointer;
	right: 28px;
	top: 8px;
}


.process-record #updateProcess-fin{
	position: absolute;
	cursor: pointer;
	right: 8px;
	top: 8px;
}

.process-record p{
	margin: 0;
}

</style>
{% endblock %}

{% block content %}
<div class="fly-panel">
    <div class="schedule">
        <h4>教改/教材/教研项目详情</h4>
        <div class="divider-line"></div>
        <div class="panel panel-default">
			
			<div class="panel-body">
			<table class="table table-bordered">
            <tbody>
            	<tr>
					<th>项目ID：</th>
					<td>{{ project.id }}</td>
				</tr>
                <tr>
					<th width="200px">项目名称：</th>
					<td>{{ project.title }}</td>
				</tr>
				<tr>
					<th>项目类别：</th>
					{% if project.category == "reform" %}
                    <td>教改</td>
                    {% elif project.category == "textbook" %}
                    <td>教材</td>
                    {% elif project.category == "research" %}
                    <td>教研</td>
                    {% else %}
                    <td>其他</td>
                    {% endif %}
				</tr>
				<tr>
					<th>项目总经费：</th>
					<td>{{ project.funds }}</td>
				</tr>
				<tr>
					<th>经费使用记录：</th>
					<td class="funds-record">
						<div class="recorded-funds-item">
							<p>{{ project.funds_record|linebreaksbr }}</p>
							<a id="updateFunds">更新</a>
						</div>
						<div class="input-funds">
                            <form id="up-funds">
                                <input type="hidden" value="{{ project.id }}" name="projectID">
                                <textarea id="textarea-funds" name="funds_record" class="form-control" rows="3"></textarea>
							    <a id="submitFunds" class="btn btn-blue" style="margin-top: 8px;">提交</a>
                            </form>
						</div>
					</td>
				</tr>
				<tr>
					<th>项目成果：</th>
					<td class="achievements-record">
						<div class="recorded-achievements-item">
							<p>{{ project.achievements_record|linebreaksbr }}</p>
							<a id="updateAchievements">更新</a>
						</div>
						<div class="input-achievements">
                            <form id="up-achievements">
                                <input type="hidden" value="{{ project.id }}" name="projectID">
                                <textarea id="textarea-achievements" name="achievements_record" class="form-control" rows="3"></textarea>
                                <a id="submitAchievements" class="btn btn-blue" style="margin-top: 8px;">提交</a>
                            </form>
						</div>
					</td>
				</tr>
				<tr>
					<th>项目进度:</th>
					<td class="process-record">
						<p>{{ project.process }}</p>
						<a style="left: 550px" id="updateProcess-mid" href="/teaching/updateProjectProcess?type=mid&itemID={{ project.id }}">中期检查</a>
						<a id="updateProcess-fin" href="/teaching/updateProjectProcess?type=fin&itemID={{ project.id }}">结题验收</a>
					</td>
				</tr>
                <tr>
                <th>项目文件:</th>
                <td>
                    <ul>
                    	{% for downloadItem in project.submitfile_set.all %}
						<li><a href="/{{ downloadItem.project_file }}">{{ downloadItem.file_name }}</a></li>
						{% endfor %}
					</ul>
                </td>
                </tr>
            </tbody>
            </table>
			</div>
		</div>
        <div class="divider-line"></div>
    </div>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">
	// 经费更新
	$("#updateFunds").click(function(){
		$(".recorded-funds-item").hide();
		var recordedFunds = "{{ project.funds_record|linebreaksbr }}";
		var placeholderFunds = recordedFunds.replace(/<br \/>/g, '\n');
		document.getElementById("textarea-funds").value = placeholderFunds;
		$(".input-funds").show();
	});
	$("#submitFunds").click(function(){
		swal({
            icon:"info",
            text:"您确定要更新该项目经费记录吗？",
            buttons: ["取消", "确定"],
        }).then(function(isConfirm) {
            
                $.ajax({
                    cache: false,
                    type: "POST",
                    url:"/teaching/updateProjectFundRecord/",
                    data: $("#up-funds").serialize(),
                    dateType:"json",
                    async: true,
                    success: function(data) {
                        if(data.status == 'success'){
                            swal({
						        icon: "success",
						        text: "操作成功",
						    }).then(function(isConfirm){
						    	window.location.reload();
						    });
                        }else if(data.status == 'fail'){
                            swal ({
                                icon: "error",
                                text: "操作失败，请重试",
                            });
                        }
                    }
                });
            
        });
	});

	// 成果更新
	$("#updateAchievements").click(function(){
		$(".recorded-achievements-item").hide();
		var recordedAchievements = "{{ project.achievements_record|linebreaksbr }}";
		var placeholderAchievements = recordedAchievements.replace(/<br \/>/g, '\n');
		document.getElementById("textarea-achievements").value = placeholderAchievements;
		$(".input-achievements").show();
	});
	$("#submitAchievements").click(function(){
		swal({
            icon:"info",
            text:"您确定要更新该项目成果吗？",
            buttons: ["取消", "确定"],
        }).then(function(isConfirm) {
            if(isConfirm === true){
                $.ajax({
                    cache: false,
                    type: "POST",
                    url:"/teaching/updateProjectAchievementRecord/",
                    data: $("#up-achievements").serialize(),
                    dateType:"json",
                    async: true,
                    success: function(data) {
                        if(data.status == 'success'){
                            swal({
						        icon: "success",
						        text: "操作成功",
						    }).then(function(isConfirm){
						    	window.location.reload();
						    });
                        }else if(data.status == 'fail'){
                            swal ({
                                icon: "error",
                                text: "操作失败，请重试",
                            });
                        }
                    }
                });
            }
        });
	});

</script>
{% endblock %}